<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess drill: checks &amp; captures</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/github.com/schaumb/domarrow.js/domarrow.css">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/github.com/schaumb/domarrow.js/domarrow.js"></script>
</head>

<body hx-trigger="updateFeedback from:body">
    <h1>Chess drill: checks &amp; captures</h1>

    <div id="instruction">
        <p>Identify all possible checks and captures from the opponent.</p>
    </div>

    <input type="hidden" name="arrows" id="arrows" hx-get="/reset_arrows" hx-trigger="load" hx-swap="outerHTML">
    <!-- <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("arrows").value = JSON.stringify([]);
        });
    </script> -->

    <main>
        <div id="chessboard" class="board" hx-get="/new_position" hx-trigger="load" hx-swap="innerHTML">
            {% for row in range(8) %}
                <div class="row">
                    {% for col in range(8) %}
                    <div class="square" id="{{ 'abcdefgh'[col] + (8 - row)|string }}"></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        <div class="feedback">
            <p>Current Streak: <span id="streak-counter" hx-get="/update_streak" hx-trigger="updateFeedback from:body, load">0</span></p>
            <p id="message" hx-get="/update_message" hx-trigger="updateFeedback from:body"></p>
        </div>
    </main>

    <button
        id="submit-button"
        hx-post="/validate_arrows"
        hx-include="[name='arrows']"
        hx-swap="none"
    >Submit</button>

</body>
</html>
